<h1>Lab 04 Advanced</h1>

<section>
  <h2>More Boxes</h2>

  <div>I'm static!</div>

  <div class="relative">Make me relative!</div>

  <div class="absolut">Make me absolute!</div>

  <div class="fixed">Fix me!</div>

  <div class="sticky">Sticky me!</div>
</section>

<section>
  <h2>Vanilla Form</h2>

  <form>
    <label>From (*)</label>
    <input type="text" name="from" required />

    <label>To (*)</label>
    <input type="text" name="to" required />

    <label>I agree</label>
    <input type="checkbox" name="agree" required />

    <button type="submit">Submit</button>
  </form>
</section>

<section>
  <h2>Bootstrap Form</h2>

  <form>
    <label>From (*)</label>
    <input type="text" name="from" required />

    <label>To (*)</label>
    <input type="text" name="to" required />

    <label>I agree</label>
    <input type="checkbox" name="agree" required />

    <button type="submit">Submit</button>
  </form>
</section>
