<h1>Lab 04 Advanced</h1>

<section>
  <h2>More Boxes</h2>

  <div>I'm static!</div>

  <div class="relative">Make me relative!</div>

  <div class="absolute">Make me absolute!</div>

  <div class="fixed">Fix me!</div>

  <div class="sticky">Sticky me!</div>
</section>

<section>
  <h2>Vanilla Form</h2>

  <form>
    <label for="from">From (*)</label>
    <input id="from" name="from" required type="text" />

    <label for="to">To (*)</label>
    <input id="to" name="to" required type="text" />

    <label for="agree">I agree</label>
    <input id="agree" name="agree" required type="checkbox" />

    <button type="submit">Submit</button>
  </form>
</section>

<section>
  <h2>Bootstrap Form</h2>

  <form>
    <label for="from">From (*)</label>
    <input id="from" name="from" required type="text" />

    <label for="to">To (*)</label>
    <input id="to" name="to" required type="text" />

    <label for="agree">I agree</label>
    <input id="agree" name="agree" required type="checkbox" />

    <button type="submit">Submit</button>
  </form>
</section>
