//$background-color: deepskyblue;
//$foreground-color: rgba(255, 255, 255, 0.8);
//$gutter-width: 10px;
//$item-size: 10 * $gutter-width;

.app-flex-container {
  display: flex;
  flex-flow: row nowrap;
  //justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: deepskyblue;
}

.app-flex-container > div {
  flex: 1 1 auto;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 40px;
  line-height: 2;
}

.app-flex-container > div:nth-child(2n) {
  /* every 2nd item is bigger :-) */
  flex-grow: 5;
  width: 120px;
  height: 120px;
  background-color: lightcyan;
  line-height: 3;
}

.app-flex-container > div:nth-child(2n + 1) {
  flex-shrink: 5;
}

.app-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    'header header header header header'
    'menu main main main right'
    'menu footer footer footer footer';
  gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  padding: 10px;
  background-color: deepskyblue;

  transition: grid-template-columns 0.3s ease-in-out;

  &.expanded {
    grid-template-columns: 2fr 1fr 1fr 1fr 4fr;
  }
}

.app-grid-container > div {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.app-grid-item1 {
  grid-area: header;
}

.app-grid-item2 {
  grid-area: menu;
}

.app-grid-item3,
.app-grid-item4 {
  grid-area: main;
}

.app-grid-item5 {
  grid-area: right;
}

.app-grid-item6 {
  grid-area: footer;
}

#transform div {
  width: 15rem;
  height: 7.5rem;
  border: 10px solid deepskyblue;
  background-color: lighten(deepskyblue, 42%);
}

div.transition {
  width: 100px;
  height: 100px;
  margin: 100px 0 0 100px;
  border: 10px solid deepskyblue;
  background-color: lighten(deepskyblue, 42%);
}

div.transition:hover {
  transform: scale(3);
}
