<h1>Lab 06 Modern</h1>

<section>
  <h2>Flexible Boxes</h2>

  <p>Use this for <strong>1-dimensional</strong> layouts.</p>

  <div class="app-flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
  </div>
</section>

<section>
  <h2>Grid Layout</h2>

  <p>Use this for <strong>2-dimensional</strong> layouts.</p>

  <div class="app-grid-container" [class.expanded]="expanded()">
    <div class="app-grid-item1">Header</div>
    <div class="app-grid-item2">Left</div>
    <div class="app-grid-item3">Main</div>
    <div class="app-grid-item4">Main</div>
    <div class="app-grid-item5">Right</div>
    <div class="app-grid-item6">Footer</div>
  </div>

  <button class="btn btn-secondary" type="button" (click)="onToggleSide()">
    {{ expanded() ? 'Collapse' : 'Expand' }}
  </button>
</section>

<section id="transform">
  <h2>Transform</h2>

  <div>translate() me</div>
  <div>rotate() me</div>
  <div>scale() me</div>
  <div>skew() me</div>
</section>

<section>
  <h2>Transition</h2>

  <div class="transition">Animate me</div>
</section>
