div.box {
  width: 80%;
  height: 15rem;
  margin: var(--gutter-width, 10px) 10%;
  border: var(--gutter-width, 10px) solid gold;
  padding: calc(var(--gutter-width, 10px) * 2) var(--gutter-width, 10px);
  background-color: azure;
}

input,
button {
  height: 2.5em;
  margin-right: 1em;
  vertical-align: bottom;
}

input {
  padding: 0.2rem 0.4rem;
}

input:focus,
button:focus,
button:hover {
  outline: 2px solid gold;
}
