<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini" href="/">
      <div class="logo-image-small">
        <img alt="Angular Architects" height="34" ngSrc="/assets/angular_gradient_68x68.png" width="34" />
      </div>
    </a>

    <a class="simple-text logo-normal" href="/"> Flights 42 </a>
  </div>

  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="/home">
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/flights/flight-search">
        <p>Flight Search</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/lab-02-foundations">
        <p>Lab 02 Foundations</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/lab-03-essentials">
        <p>Lab 03 Essentials</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/lab-04-advanced">
        <p>Lab 04 Advanced</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/lab-05-responsive">
        <p>Lab 05 Responsive</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/lab-06-modern">
        <p>Lab 06 Modern</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/lab-08-tailwind">
        <p>Lab 08 Tailwind</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/lab-09-angular">
        <p>Lab 09 Angular</p>
      </a>
    </li>
  </ul>
</div>
