<h1 class="text-5xl">Lab 08 Tailwind</h1>

<section class="hide-without-tailwind block my-4">
  <h2 class="text-4xl my-4">It work's!</h2>

  <form>
    <label for="from">From (*)</label>
    <input id="from" name="from" required type="text" />

    <label for="to">To (*)</label>
    <input id="to" name="to" required type="text" />

    <label for="agree">I agree</label>
    <input id="agree" name="agree" required type="checkbox" />

    <button type="submit">Submit</button>
  </form>
</section>
