@use "tailwindcss";

@import 'styles/variables';
//@import 'styles/view-transitions';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Verdana, Arial, sans-serif;
}

.main-panel {
  background-color: var(--background-color);
  color: var(--color);

  .content {
    min-height: calc(100vh - 141px);
  }
}

section + section {
  margin-top: 2em;
}

.hide-without-tailwind {
  display: none;
}
